<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>administrador</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/imagens/img-header/logo.png" alt="">
            <h1>Barber<span>Shop</span></h1>
        </div>
        <div class="menu">
            <div class="cliente">
                <span>Área do Administrador</span>
            </div>
            <div class="user">
                <div class="login">
                    <i class="fa-solid fa-user login-icone"></i>
                    <span>Marina Silvia</span>
                </div>
                <div class="login">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span><a href="login.html">Sair</a></span>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-bars menuBuger" id="menu-mobili" onclick="menuShow()"></i>
    </header>
    <div class="menu-mobily">
        <div class="sub-menu-link">
            <div class="login-mobili">
                <i class="fa-solid fa-user login-icone"></i>
                <span>Marina Silvia</span>
            </div>
            <div class="login-mobili select-menu botaoMenuBurger_1" onclick="sidbarMenu_AgendaDia()">
                <i class="fa-solid fa-calendar"></i>
                <span>Agenda do Dia</span>
            </div>
            <div class="login-mobili botaoMenuBurger_2" onclick="sidbarMenu_Servicos()">
                <i class="fa-solid fa-bolt"></i>
                <span>Serviços</span>
            </div>
            <div class="login-mobili botaoMenuBurger_3" onclick="sidbarMenu_Profifionais()">
                <i class="fa-solid fa-users"></i>
                <span>Profissionais</span>
            </div>
            <div class="login-mobili botaoMenuBurger_4" onclick="sidbarMenu_CadProfissional()">
                <i class="fa-solid fa-plus"></i>
                <span>profissional</span>
            </div>
            <div class="login-mobili botaoMenuBurger_5" onclick="sidbarMenu_cadServiço()">
                <i class="fa-solid fa-plus"></i>
                <span>Serviço</span>
            </div>
            <div class="login-mobili">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span><a href="login.html">Sair</a></span>
            </div>

        </div>
    </div>

    <section class="reservas">
        <div class="sidbar">
            <div class="sidbar-item select botao_1" onclick="sidbar_agendaDia()">
                <i class="fa-solid fa-calendar"></i>
                <span>Agenda do Dia</span>
            </div>
            <div class="sidbar-item botao_2" onclick="sidbar_servicos()">
                <i class="fa-solid fa-bolt"></i>
                <span>Serviços</span>
            </div>
            <div class="sidbar-item botao_3" onclick="sidbar_profissionais()">
                <i class="fa-solid fa-users"></i>
                <span>Profissionais</span>
            </div>
            <div class="sidbar-item botao_4" onclick="sidbar_cadProfissional()">
                <i class="fa-solid fa-plus"></i>
                <span>Profissional</span>
            </div>
            <div class="sidbar-item botao_5" onclick="sidbar_cadServiço()">
                <i class="fa-solid fa-plus"></i>
                <span>Serviço</span>
            </div>
        </div>

        <!--Section Agenda do dia-->
        <div class="minhas-reservas secao_1">
            <div class="title">
                <h1>Agenda do Dia</h1>
                <form action="">
                    <input type="text" placeholder="pesquisa">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <div class="card-servico">
                <div class="div-table">
                    <table class="tabela">
                        <thead>
                            <tr>
                                <th>Serviço</th>
                                <th>Valor</th>
                                <th>Profissional</th>
                                <th>Cliente</th>
                                <th>Data</th>
                                <th>Horário</th>
                                <th>Tempo</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Corte Mascolino</td>
                            <td>R$ 30,00</td>
                            <td>Joao de Deus</td>
                            <td>Francisco</td>
                            <td>16/10/2025</td>
                            <td>14:30</td>
                            <td>30 min</td>
                            <td>
                                <h2 class="aguard">AGUARD</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>Corte Mascolino</td>
                            <td>R$ 30,00</td>
                            <td>Marina Silvia</td>
                            <td>maria de jesus</td>
                            <td>16/10/2025</td>
                            <td>14:30</td>
                            <td>30 min</td>
                            <td>
                                <h2 class="atendido">ATENDIDO</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>Hidratação</td>
                            <td>R$ 50,00</td>
                            <td>Marina Silvia</td>
                            <td>Jose da Silva</td>
                            <td>16/10/2025</td>
                            <td>14:30</td>
                            <td>30 min</td>
                            <td>
                                <h2 class="cancelado">CANCELADO</h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--Section de Serviços-->
        <div class="ocuto secao_2">
            <div class="title">
                <h1>Serviços</h1>
                <form action="">
                    <input type="text" placeholder="pesquisa">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="card-servico">
                <div class="div-table">
                    <table class="tabela">
                        <thead>
                            <tr>
                                <th>Serviço</th>
                                <th>Valor</th>
                                <th>Tempo estimado</th>
                                <th>Descrição 1</th>
                                <th>Descrição 2</th>
                                <th>Descrição 3</th>
                                <th>Descrição 4</th>
                                <th>Editar</th>
                            </tr>
                        </thead>

                        {% for dados in DadosServico %}
                            <tr>
                                <td>{{ dados.No_Servico }}</td>
                                <td>{{ dados.Pr_Servico }}</td>
                                <td>{{ dados.Tp_Estimado }}</td>
                                <td>{{ dados.Dc_Descricao1 }}</td>
                                <td>{{ dados.Dc_Descricao2 }}</td>
                                <td>{{ dados.Dc_Descricao3 }}</td>
                                <td>{{ dados.Dc_Descricao4 }}</td>
                                <td>
                                    <form  action="/crudServico/{{ dados.Id_Servico }}" method="post">
                                        <button type="submit" class="fa-solid fa-pen-to-square btn"></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <!--Section de Profissionais-->
        <div class="ocuto secao_3">
            <div class="title">
                <h1>Profissionais</h1>
                <form action="">
                    <input type="text" placeholder="pesquisa">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="card-servico">
                <div class="div-table">
                    <table class="tabela">
                        <thead>
                            <tr>
                                <th>Profissional</th>
                                <th>Especialidades</th>
                                <th>Horário Atendimento</th>
                                <th>Telefone</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        {% for profissional in DadosProf %}
                            <tr>
                                <td>{{ profissional.No_Profissional }}</td>
                                <td>{{ profissional.No_Especialidade }}</td>
                                <td>{{ profissional.Hr_Atendimento }}</td>
                                <td>{{ profissional.Nr_Telefone }}</td>
                                <td>
                                    <form action="/crudProfissional/{{ profissional.Id_Profissional }}" method="post">
                                        <button class="fa-solid fa-pen-to-square btn"></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </table>
                </div>
            </div>
        </div>

        <!--Section de cadastro de profissionais-->
        <div class="ocuto secao_4">
            <div class="title">
                <h1>Cadastro de Profissionais</h1>
            </div>
            <div class="card-servico">
                <div class="perfil">
                    <div class="formulario">
                        <form action="/CadProfissional" method="post">
                            <label for="">Nome:</label>
                            <input type="text" name="nome" required>
                            <label for="">Especialidades:</label>
                            <input type="text" name="especialidade" required>
                            <label for="">Horário Atendimento</label>
                            <input type="text" name="h_atendimento" required>
                            <label for="">Telefone:</label>
                            <input type="tel" name="telefone" required>
                            <div class="botoes">
                                <button type="submit" class="botao"><i class="fa-solid fa-address-card"></i> cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        

        <!--Section de cadastro de serviço-->
        <div class="ocuto secao_5">
            <div class="title">
                <h1>Cadastro de Serviços</h1>
            </div>
            <div class="card-servico">
                <div class="perfil">
                    <div class="formulario">
                        <form action="/CadServico" method="post">
                            <label for="">Serviço:</label>
                            <input type="text" name="servico" required>
                            <label for="">Valor:</label>
                            <input type="number" name="valor" required>
                            <label for="">Tempo estimado:</label>
                            <input type="text" name="tempo" required>
                            <label for="">Descrição 1:</label>
                            <input type="text" name="descricao1">
                            <label for="">Descrição 2:</label>
                            <input type="text" name="descricao2">
                            <label for="">Descrição 3:</label>
                            <input type="text" name="descricao3">
                            <label for="">Descrição 4:</label>
                            <input type="text" name="descricao4">
                            <div class="botoes">
                                <button class="botao"><i class="fa-solid fa-address-card"></i> Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        
        

    </section>
    <script src="/static/js/scrips_admin.js"></script>
</body>

</html>