<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/agendar.css">
    <title>Cliente</title>
</head>

<body>
    

    <section class="reservas">
        
        <!--Section Minhas Reservas-->
        <div class="minhas-reservas secao_1">
            <div class="title">
                <h1>Voltar</h1>
                <h1>Selecione o Profissional</h1>
            </div>
            <div class="card-servico">
                <div class="servico">
                    <div class="icone">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="descricao">
                        <h2>Corte Mascolino</h2>
                        <span>Com João</span>
                        <div class="data-hora">
                            <i class="fa-solid fa-calendar"></i>
                            <span>06/10/2025</span>
                        </div>
                        <div class="data-hora">
                            <i class="fa-solid fa-clock"></i>
                            <span>20:30</span>
                        </div>
                    </div>
                </div>
                <div class="confirmacao">
                    <div class="confirmado">
                        <span>R$ 45,00</span>
                    </div>
                </div>
            </div>
            <div class="card-servico">
                <div class="servico">
                    <div class="icone">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="descricao">
                        <h2>Corte Femenino</h2>
                        <span>Com Marina Silvia</span>
                        <div class="data-hora">
                            <i class="fa-solid fa-calendar"></i>
                            <span>11/10/2025</span>
                        </div>
                        <div class="data-hora">
                            <i class="fa-solid fa-clock"></i>
                            <span>13:30</span>
                        </div>
                    </div>
                </div>
                <div class="confirmacao">
                    <div class="confirmado">
                        <span>R$ 45,00</span>
                    </div>
                </div>
            </div>
            <div class="card-servico">
                <div class="servico">
                    <div class="icone">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="descricao">
                        <h2>Barba & Bigode</h2>
                        <span>Com Frederico</span>
                        <div class="data-hora">
                            <i class="fa-solid fa-calendar"></i>
                            <span>15/10/2025</span>
                        </div>
                        <div class="data-hora">
                            <i class="fa-solid fa-clock"></i>
                            <span>21:00</span>
                        </div>
                    </div>
                </div>
                <div class="confirmacao">
                    <div class="confirmado">
                        <span>R$ 45,00</span>
                    </div>
                    
                </div>
            </div>

        </div>


    </section>
    <script src="/static/js/agendar.js"></script>
</body>

</html>