<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/cadastro.css">
    <title>cadastro</title>
</head>

<body>
    <div class="container">
        <div class="principal">
            <div class="voltar-site">
                <i class="fa-solid fa-rotate-left"></i>
                <form method="post">
                    <button type="submit">Voltar ao site</button>
                </form>
            </div>
            
            <div class="cadastro">
                <div class="name">
                    <i class="fa-solid fa-address-card"></i>
                    <h1>Cadastro</h1>
                </div>
                
                <div class="formulario">
                    <form method="post">
                        <div class="user">
                            <div class="user-admin">
                                <input type="radio" id="usuário" name="useradmin" value="usuario" required>
                                <label for="">Cliente</label>
                            </div>
                            <div class="user-admin">
                                <input type="radio" id="admin" name="useradmin" value="administrador" required>
                                <label for="">Admin</label>
                            </div>
                            <div class="inputs">
                                <input id="nome" name="nome" placeholder="nome" required>
                                <input type="email" id="email" name="email" placeholder="email" required>
                                <input type="tel" id="fone" name="fone" placeholder="telefone" required>
                                <input type="password" id="senha" name="senha" placeholder="senha" required>
                                <input type="password" id="repete_senha" name="repete_senha" placeholder="repete senha" required>
                                <label style="color: red;">as senhas devem ser iguais</label>
                                <button type="submit">Cadastrar</button>
                                <label for="" style="color: green;"><i class="fa-solid fa-check"></i> Cadastro realizado com sucesso</label>
                                

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>