<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/cliente.css">
    <title>Cliente</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/imagens/img-header/logo.png" alt="">
            <h1>Barber<span>Shop</span></h1>
        </div>
        <div class="menu">
            <div class="cliente">
                <span>Área do Cliente</span>
            </div>
            <div class="user">
                <div class="login">
                    <i class="fa-solid fa-user login-icone"></i>
                    <span>Marina Silvia</span>
                </div>
                <div class="login">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span><a href="login.html">Sair</a></span>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-bars menuBuger" id="menu-mobili" onclick="menuShow()"></i>
    </header>
    <div class="menu-mobily">
        <div class="sub-menu-link">
            <div class="login-mobili">
                <i class="fa-solid fa-user login-icone"></i>
                <span>Marina Silvia</span>
            </div>
            <div class="login-mobili select-menu botaoMenuBurger_1" onclick="sidbarMenu_reservas()">
                <i class="fa-solid fa-calendar"></i>
                <span>Minhas Reservas</span>
            </div>
            <div class="login-mobili botaoMenuBurger_2" onclick="sidbarMenu_agendamento()">
                <i class="fa-solid fa-plus"></i>
                <span>Novo Agendamento</span>
            </div>
            <div class="login-mobili botaoMenuBurger_3" onclick="sidbarMenu_perfil()">
                <i class="fa-solid fa-user login-icone"></i>
                <span>Meu Perfil</span>
            </div>
            <div class="login-mobili">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span><a href="login.html">Sair</a></span>
            </div>
        </div>
    </div>

    <section class="reservas">
        <div class="sidbar">
            <div class="sidbar-item select botao_1" onclick="sidbar_minhas_reservas()">
                <i class="fa-solid fa-calendar"></i>
                <span>Minhas Reservas</span>
            </div>
            <div class="sidbar-item botao_2" onclick="sidbar_novo_agendamento()">
                <i class="fa-solid fa-plus"></i>
                <span>Novo Agendamento</span>
            </div>
            <div class="sidbar-item botao_3" onclick="sidbar_perfil()">
                <i class="fa-solid fa-user login-icone"></i>
                <span>Meu Perfil</span>
            </div>
        </div>

        <!--Section Minhas Reservas-->
        <div class="minhas-reservas secao_1">
            <div class="title">
                <h1>Minhas Reservas</h1>
            </div>
            <div class="card-servico">
                <div class="servico">
                    <div class="icone">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="descricao">
                        <h2>Corte Mascolino</h2>
                        <span>Com João</span>
                        <div class="data-hora">
                            <i class="fa-solid fa-calendar"></i>
                            <span>06/10/2025</span>
                        </div>
                        <div class="data-hora">
                            <i class="fa-solid fa-clock"></i>
                            <span>20:30</span>
                        </div>
                    </div>
                </div>
                <div class="confirmacao">
                    <div class="confirmado">
                        <h2 class="aguard">AGUARD</h2>
                        <span>R$ 45,00</span>
                    </div>
                    <div class="reagendar">
                        <button class="btn-reagendar" onclick="reagendar()"><i class="fa-solid fa-newspaper"></i>
                            Reagendar</button>
                    </div>
                </div>
            </div>
            <div class="card-servico">
                <div class="servico">
                    <div class="icone">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="descricao">
                        <h2>Corte Femenino</h2>
                        <span>Com Marina Silvia</span>
                        <div class="data-hora">
                            <i class="fa-solid fa-calendar"></i>
                            <span>11/10/2025</span>
                        </div>
                        <div class="data-hora">
                            <i class="fa-solid fa-clock"></i>
                            <span>13:30</span>
                        </div>
                    </div>
                </div>
                <div class="confirmacao">
                    <div class="confirmado">
                        <h2 class="atendido">ATENDIDO</h2>
                        <span>R$ 45,00</span>
                    </div>
                    <div class="reagendar">
                        <button class="btn-reagendar" onclick="reagendar()"><i class="fa-solid fa-newspaper"></i>
                            Reagendar</button>
                    </div>
                </div>
            </div>
            <div class="card-servico">
                <div class="servico">
                    <div class="icone">
                        <i class="fa-solid fa-scissors"></i>
                    </div>
                    <div class="descricao">
                        <h2>Barba & Bigode</h2>
                        <span>Com Frederico</span>
                        <div class="data-hora">
                            <i class="fa-solid fa-calendar"></i>
                            <span>15/10/2025</span>
                        </div>
                        <div class="data-hora">
                            <i class="fa-solid fa-clock"></i>
                            <span>21:00</span>
                        </div>
                    </div>
                </div>
                <div class="confirmacao">
                    <div class="confirmado">
                        <h2 class="cancelado">CANCELADO</h2>
                        <span>R$ 45,00</span>
                    </div>
                    <div class="reagendar">
                        <button class="btn-reagendar" onclick="reagendar()"><i class="fa-solid fa-newspaper"></i>
                            Reagendar</button>
                    </div>
                </div>
            </div>

        </div>

        <!--Section de Agendamento-->
        <div class="ocuto secao_2">
            <div class="title">
                <h1>Novo Agendamento</h1>
            </div>
            <div class="card-servico">
                <div class="perfil">
                    <h2>Agendar Serviço</h2>
                    <div class="formulario">
                        <form action="">
                            <label for="servico">Selecione um Serviço:</label>
                            <select name="sevico" id="servico">
                                <option value=""></option>
                                <option value="Corte_Mascolino">Corte Mascolino</option>
                                <option value="Corte_Femenino">Corte Femenino</option>
                                <option value="Barba_&_Bigode">Barba & Bigode</option>
                                <option value="Hidratação">Hidratação</option>
                            </select>
                            <label for="profissional">Selecione um Profissional:</label>
                            <select name="profissional" id="profissional">
                                <option value=""></option>
                                <option value="Jão_de_Deus">Jão de Deus</option>
                                <option value="Marina_Silvia">Marina Silvia</option>
                                <option value="Marcelo_de_Castro">Marcelo de Castro</option>
                                <option value="Fabio_de_Jesus">Fabio de Jesus</option>
                            </select>
                            <label for="">Data do Agendamento:</label>
                            <input type="date">
                            <label for="">Horários Disponível:</label>
                            <input type="time">
                            <div class="botoes">
                                <button class="botao"><i class="fa-solid fa-calendar-check"></i> Agendar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Section de Perfil-->
        <div class="ocuto secao_3">
            <div class="title">
                <h1>Meu Perfil</h1>
            </div>
            <div class="card-servico">
                <div class="perfil">
                    <h2>Informações Pessoais</h2>
                    <div class="formulario">
                        <h4>Editar</h4>
                        <form action="">
                            <label for="">Nome:</label>
                            <input type="text" value="Marina Silvia">
                            <label for="">Email:</label>
                            <input type="email" value="franciscocan1986@gmail.com">
                            <label for="">Telefone:</label>
                            <input type="tel" value="86 99452-0423">
                            <div class="botoes">
                                <button class="botao"><i class="fa-solid fa-rotate-right"></i> Atualizar</button>
                                <button class="botao"><i class="fa-solid fa-trash"></i> Excluir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Section de Reagendamento-->
        <!-- === MODAL (FORMULÁRIO DE REAGENDAMENTO) === -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">x</span>
                <h2>Reagendar Serviço</h2>
                <form id="form-reagendar">
                    <label for="servico">Selecione um Serviço:</label>
                    <select name="servico" id="servico">
                        <option value=""></option>
                        <option value="Corte_Mascolino">Corte Masculino</option>
                        <option value="Corte_Femenino">Corte Feminino</option>
                        <option value="Barba_&_Bigode">Barba & Bigode</option>
                        <option value="Hidratação">Hidratação</option>
                    </select>

                    <label for="profissional">Selecione um Profissional:</label>
                    <select name="profissional" id="profissional">
                        <option value=""></option>
                        <option value="Joao_de_Deus">João de Deus</option>
                        <option value="Marina_Silvia">Marina Silvia</option>
                        <option value="Frederico">Frederico</option>
                    </select>
                    <label for="input-data">Data:</label>
                    <input type="date" id="input-data">
                    <label for="input-hora">Hora:</label>
                    <input type="time" id="input-hora">
                    <div class="form-botao">
                        <button class="botao-modal" type="submit"><i class="fa-solid fa-calendar-check"></i>
                            reagendar</button>
                        <button class="botao-modal" type="submit"><i class="fa-solid fa-trash"></i> Excluir</button>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <script src="/static/js/script.js"></script>
</body>

</html>