<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>Adicionar Usuário</h1>
    <form method="POST">
        <input type="text" id="nome" name="nome" placeholder="nome" required>
        <input type="email" id="email" name="email" placeholder="email" required>
        <input type="tel" id="fone" name="fone" placeholder="fone" required>
        <input type="password" id="senha" name="senha" placeholder="senha" required>
        <input type="radio" id="usuário" name="useradmin" value="usuario" required>
        <label for="">usuário</label>
        <input type="radio" id="admin" name="useradmin" value="administrador" required>
        <label for="">administrador</label>
        <button type="submit">cadastrar</button>
        
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>