<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>Adicionar Usuário</h1>
    <form method="POST">
        <input type="text" id="nome" name="nome" placeholder="nome">
        <input type="email" id="email" name="email" placeholder="email">
        <input type="password" id="senha" name="senha" placeholder="senha">
        <input type="radio" id="usuário" name="useradmin" value="usuario">
        <label for="">usuário</label>
        <input type="radio" id="admin" name="useradmin" value="admin">
        <label for="">administrador</label>
        <button type="submit">cadastrar</button>
    </form>
</body>
</html>