@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #FEFBF5;
    /* Fundo / Neutro claro (background principal) */
    --cor2: #563A22;
    /* Primária (títulos, menus, elementos fortes) */
    --cor3: #F1D7B4;
    /* Secundária (destaques suaves, cards, caixas de apoio) */
    --cor4: #9B7C64;
    /* Apoio (texto secundário, bordas, sombras sutis) */
    --cor5: #F18836;
    /* Cor de Destaque (botões, links, chamadas de ação) */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--cor1);
}


/* ESTILO DE BOTOES */
.botao {
    width: 200px;
    padding: 10px 20px;
    background-color: var(--cor5);
    border-radius: 10px;
    border: 0;
    color: var(--cor1);
    font-weight: bolder;
    transition: calc(1s);
}

.botao:hover {
    background: none;
    color: var(--cor5);
    border: 1px solid var(--cor5);
}

/* FIM DO ESTILO DE BOTOES */


/* ESTILO DOS STATUS */

.aguard {
    background-color: var(--cor5);
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: var(--cor2);
    width: 90px;
}

.atendido {
    background-color: rgb(132, 194, 132);
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: rgb(7, 41, 7);
    width: 90px;
}

.cancelado {
    background-color: rgb(245, 146, 146);
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: rgb(114, 1, 1);
    width: 90px;
}

/*  FIM DO ESTILO DOS STATUS*/

/* INICIO ESTILO HEADER */
header {
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 .4rem 1rem rgb(165, 134, 200, 0.2);
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.logo h1 {
    font-size: 1.7rem;
    color: var(--cor2);
}

.logo span {
    color: var(--cor5);
}

.menu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu .cliente,
.user,
.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 10px
}

.user .login i,
span {
    color: var(--cor4);
}

.user {
    gap: 20px;
}

.login {
    gap: 5px;
}

/* ESTILO MENU MOBYLI */

.menuBuger {
    display: none;
}


.menu-mobily {
    width: 100%;
    display: flex;
    position: fixed;
    top: 65px;
    left: -100%;
    transition: .7s ease-in-out;
    padding: 5px;
    background-color: var(--cor3);
    border-radius: 0 0 10px 10px;
}

.menu-mobily .sub-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.menu-mobily .sub-menu-link .login-mobili {
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.menu-mobily .sub-menu-link .login-mobili i {
    color: var(--cor4);
}

.menu-active {
    left: 0;
}

/* FIM DO ESTILO MOBYLI */


/* ESTILO MINHAS RESERVAS */

.reservas {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
    gap: 20px;
}

.reservas .sidbar {
    height: 350px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px .1rem 1rem rgb(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    padding: 10px;
    cursor: pointer;
}

.reservas .sidbar .sidbar-item {
    margin: 10px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.reservas .sidbar .sidbar-item i,
span {
    color: var(--cor2);
}

.select {
    background-color: var(--cor5);
    padding: 8px;
    border-radius: 10px;
}

.select-menu {
    background-color: var(--cor5);
    border-radius: 8px;
}


.ocuto {
    display: none;
}

.open {
    display: flex;
}

.reservas .minhas-reservas {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.reservas .minhas-reservas .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.reservas .minhas-reservas .title form {
    border: 1px solid var(--cor3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 3px;
    border-radius: 30px;
}

.reservas .minhas-reservas .title form input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 0.9rem;
}

.reservas .minhas-reservas .title form button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor5);
}



.reservas .minhas-reservas .title h1 {
    font-size: 1.8rem;
    color: var(--cor2);
}


.status {
    background-color: var(--cor5);
    font-size: 0.8rem;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: var(--cor2);
    width: 100px;
}

.confirmacao .confirmado span {
    color: var(--cor5);
    font-weight: bold;
    text-align: end;
    font-size: 1.2rem;
}


.confirmacao .reagendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.confirmacao .reagendar button {
    border: none;
    background-color: var(--cor3);
    padding: 3px 15px;
    border-radius: 10px;
    color: var(--cor2);
}

/* FIM ESTILO MINHAS RESERVAS */


/* INICIO DO ESTILO PERFIL */

.minhas-reservas .card-servico .perfil {
    width: 100%;
}

.minhas-reservas .card-servico .perfil h2,
h4 {
    font-size: 1.6rem;
    color: var(--cor2);
}

.minhas-reservas .card-servico .perfil .formulario form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
}

.minhas-reservas .card-servico .perfil .formulario form label {
    color: var(--cor2);
}

.minhas-reservas .card-servico .perfil .formulario form input,
select,
output {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid var(--cor3);
    outline: none;
}


/* ESTILO DA TABELA*/
.card-servico thead th {
    background-color: var(--cor3);
    padding: 5px;
}


.card-servico .div-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.card-servico .div-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.card-servico .div-table {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid var(--cor3);
    border-radius: 0 0 5px 5px;
}

.card-servico .div-table,
table {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-servico .div-table,
td {
    padding: 5px 5px;
}


.card-servico .div-table,
tr>td {
    flex-wrap: wrap;
    color: var(--cor2);
    text-align: left;
    font-size: 0.8rem;
}

.card-servico .div-table i {
    cursor: pointer;
    color: var(--cor2);
}

/* FIM DO ESTILO PERFI */

/* ESTILO DO MODAL */
.modal {
    display: flex;
    /* escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.modal-content {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    max-width: 400px;
    height: 450px;
    margin: 10% auto;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    animation: aparecer 0.3s ease;
}

.modal-content h2 {
    font-size: 1.5rem;
    color: var(--cor2);
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form input,
option {
    margin-bottom: 15px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--cor3);
}

.modal-content form .form-botao {
    display: flex;
    gap: 5px;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.botao-modal {
    background-color: #e6802c;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
}

button:hover {
    background-color: #cc6e22;
}

/* FIM DO ESTILO MODAL */




/* MIDIA QUERY */

@media (max-width: 1072px) {
    .menu {
        width: 70%;
    }
}

@media (max-width: 850px) {

    .reservas .sidbar,
    .menu {
        display: none;
    }

    .menuBuger {
        display: flex;
        cursor: pointer;
    }
}


@media (max-width: 540px) {

    .reservas .minhas-reservas .card-servico {
        padding: 15px 5px;
        display: flex;
        flex-wrap: wrap;
    }

    .reservas .minhas-reservas .card-servico .servico {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        gap: 5px;
    }

    .reservas .minhas-reservas .card-servico .servico .icone i {
        font-size: 1.1rem;
        padding: 0;
        width: 33px;
        height: 33px;
    }

    .reservas .minhas-reservas .card-servico .servico .descricao h2 {
        font-size: 0.8rem;
    }

    .reservas .minhas-reservas .card-servico .servico .descricao .data-hora i,
    span {
        font-size: 0.8rem;
    }



    .minhas-reservas .confirmacao {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: end;
        margin-top: auto;
    }

    .status {
        padding: 2px 2px 2px 2px;
        font-size: 0.7rem;
    }

    .minhas-reservas .confirmacao .confirmado span,
    h2 {
        font-size: 0.9rem;
    }

    .minhas-reservas .confirmacao .reagendar {
        gap: 2px;
    }

    .minhas-reservas .confirmacao .reagendar button {
        font-size: 0.7rem;
        gap: 2px;

    }

    /*#################################*/
    .minhas-reservas .card-servico .perfil h2,
    h4 {
        font-size: 1.2rem;
        color: var(--cor2);
    }
}