@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #FEFBF5;
    /* Fundo / Neutro claro (background principal) */
    --cor2: #563A22;
    /* Primária (títulos, menus, elementos fortes) */
    --cor3: #F1D7B4;
    /* Secundária (destaques suaves, cards, caixas de apoio) */
    --cor4: #9B7C64;
    /* Apoio (texto secundário, bordas, sombras sutis) */
    --cor5: #F18836;
    /* Cor de Destaque (botões, links, chamadas de ação) */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--cor1);
}


/* ESTILO DE BOTOES */
.botao {
    width: 200px;
    padding: 10px 20px;
    background-color: var(--cor5);
    border-radius: 10px;
    border: 0;
    color: var(--cor1);
    font-weight: bolder;
    transition: calc(1s);
}

.botao:hover {
    background: none;
    color: var(--cor5);
    border: 1px solid var(--cor5);
}

#voltar {
    width: 100px;
    margin-bottom: 10px;
}
/* FIM DO ESTILO DE BOTOES */



/* ESTILO MINHAS RESERVAS */

.agendar {
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
    gap: 20px;
}

.agendar .minhas-reservas {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.agendar .minhas-reservas .title {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.agendar .minhas-reservas .title h1 {
    font-size: 1.8rem;
    color: var(--cor2);
}

.agendar .minhas-reservas .card-servico {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px .1rem 1rem rgb(0, 0, 0, 0.1);
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    margin-bottom: 10px;
}


.agendar .minhas-reservas .card-servico .servico {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.agendar .minhas-reservas .card-servico .servico .icone i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor5);
    color: var(--cor2);
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 10px;

}

.agendar .minhas-reservas .card-servico .servico .descricao h2 {
    font-size: 1.2rem;
    color: var(--cor2);
}

.agendar .minhas-reservas .card-servico .servico .descricao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.agendar .minhas-reservas .card-servico .servico .descricao .data-hora {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor2);
}


.confirmacao .confirmado span {
    color: var(--cor5);
    font-weight: bold;
    text-align: end;
    font-size: 1.2rem;
}


/* FIM ESTILO MINHAS RESERVAS */



button:hover {
    background-color: #cc6e22;
}

/* FIM DO ESTILO MODAL */

/* MIDIA QUERY */


@media (max-width: 850px) {

    .agendar {
        width: 100%;
    }
    
}


@media (max-width: 540px) {

    .agendar .minhas-reservas .card-servico {
        padding: 15px 5px;
        display: flex;
        flex-wrap: wrap;
    }

    .agendar .minhas-reservas .card-servico .servico {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        gap: 5px;
    }

    .agendar .minhas-reservas .card-servico .servico .icone i {
        font-size: 1.1rem;
        padding: 0;
        width: 33px;
        height: 33px;
    }

    .agendar .minhas-reservas .card-servico .servico .descricao h2 {
        font-size: 0.8rem;
    }

    .agendar .minhas-reservas .card-servico .servico .descricao .data-hora i,
    span {
        font-size: 0.8rem;
    }



    .minhas-reservas .confirmacao {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: end;
        margin-top: auto;
    }

    .status {
        padding: 2px 2px 2px 2px;
        font-size: 0.7rem;
    }

    .minhas-reservas .confirmacao .confirmado span,
    h2 {
        font-size: 0.9rem;
    }

    .minhas-reservas .confirmacao .reagendar {
        gap: 2px;
    }

    .minhas-reservas .confirmacao .reagendar button {
        font-size: 0.7rem;
        gap: 2px;

    }

    /*#################################*/
    .minhas-reservas .card-servico .perfil h2,
    h4 {
        font-size: 1.2rem;
        color: var(--cor2);
    }
}