@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #FEFBF5;
    /* Fundo / Neutro claro (background principal) */
    --cor2: #563A22;
    /* Primária (títulos, menus, elementos fortes) */
    --cor3: #F1D7B4;
    /* Secundária (destaques suaves, cards, caixas de apoio) */
    --cor4: #9b7c64;
    /* Apoio (texto secundário, bordas, sombras sutis) */
    --cor5: #F18836;
    /* Cor de Destaque (botões, links, chamadas de ação) */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--cor1);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.container .principal {
    width: 500px;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 5px;
}

.container .principal .voltar-site {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    margin-bottom: 10px;
}

.container .principal .voltar-site form button {
    border: none;
    color: var(--cor4);
    font-size: 1rem;
    background: none;
}

.container .principal .voltar-site i {
    font-size: 1rem;
    color: var(--cor4);
}

.container .principal .voltar-site a:hover {
    color: var(--cor2);
    text-decoration: underline;
}

.container .principal .cadastro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgb(155, 124, 100, 0.3);
}

.container .principal .cadastro .name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

.container .principal .cadastro .name i {
    font-size: 4rem;
    color: var(--cor5);
}

.container .principal .cadastro .name h1 {
    font-size: 1.8rem;
    color: var(--cor2);
}

.container .principal .cadastro .name p {
    font-size: 0.9rem;
    color: var(--cor4);
}

.container .principal .cadastro .formulario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container .principal .cadastro form {
    width: 100%;
}

.container .principal .cadastro .formulario .user {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.container .principal .cadastro .formulario .user-admin {
    display: flex;
    gap: 5px;
}

.container .principal .cadastro .formulario .user-admin label {
    color: var(--cor4);
    font-size: 0.9rem;
}

.container .principal .cadastro .formulario .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container .principal .cadastro .formulario input {
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid var(--cor3);
    border-radius: 5px;
    outline: none;
}

.container .principal .cadastro .formulario button {
    border: none;
    border-radius: 5px;
    background-color: var(--cor5);
    padding: 5px;
    color: var(--cor1);
    font-size: 1.1rem;
    font-weight: bold;
    transition: calc(1.1s);
    margin: 20px 0;
}

.container .principal .cadastro .formulario button:hover {
    background-color: var(--cor3);
    color: var(--cor2);
}

