@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #FEFBF5; /* Fundo / Neutro claro (background principal) */
    --cor2: #563A22; /* Primária (títulos, menus, elementos fortes) */
    --cor3: #F1D7B4; /* Secundária (destaques suaves, cards, caixas de apoio) */
    --cor4: #9B7C64; /* Apoio (texto secundário, bordas, sombras sutis) */
    --cor5: #F18836; /* Cor de Destaque (botões, links, chamadas de ação) */
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--cor1);
}


/* ESTILO DE BOTOES */
.botao {
    width: 200px;
    padding: 10px 20px;
    background-color: var(--cor5);
    border-radius: 10px;
    border: 0;
    color: var(--cor1);
    font-weight: bolder;
    transition: calc(1s);
}

.botao:hover {
    background: none;
    color: var(--cor5);
    border:  1px solid var(--cor5);
}

/* FIM DO ESTILO DE BOTOES */

/* INICIO ESTILO HEADER */
header {
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 .4rem 1rem rgb(165, 134, 200, 0.2);
}

.logo{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.logo h1 {
    font-size: 1.7rem;
    color: var(--cor2);
}

.logo span {
    color: var(--cor5);
}

.menu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu .cliente, .user, .login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 10px
}

.user .login i, span {
    color: var(--cor4);
}

.user{
    gap: 20px;
}

.login {
    gap: 5px;
}

/* ESTILO MENU MOBYLI */

.menuBuger {
   display: none;
}

.menu-mobily {
    width: 100%;
    display: flex;
    position: absolute;
    top: 65px;
    left: -100%;
    transition: .7s ease-in-out;
    padding: 5px;
    background-color: var(--cor3);
}

.menu-mobily .sub-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.menu-mobily .sub-menu-link .login-mobili i {
    color: var(--cor4);
}

.menu-active {
    left: 0;
}

/* FIM DO ESTILO MOBYLI */


/* ESTILO MINHAS RESERVAS */

.reservas {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
    gap: 20px;
}

.reservas .sidbar {
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 2px .1rem 1rem rgb(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    padding: 10px;
}

.reservas .sidbar .sidbar-item {
    margin: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.reservas .sidbar .sidbar-item i, span {
    color: var(--cor2);
}

.select {
    background-color: var(--cor5);
    padding: 8px;
    border-radius: 10px;
}


.reservas .minhas-reservas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.reservas .minhas-reservas .card-servico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px .1rem 1rem rgb(0, 0, 0, 0.1);
    padding: 30px 30px;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    margin-bottom: 10px;
}


.reservas .minhas-reservas .card-servico .servico {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.reservas .minhas-reservas .card-servico .servico .icone i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor5);
    color: var(--cor2);
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 10px;

}

.reservas .minhas-reservas .card-servico .servico .descricao h2 {
    font-size: 1.2rem;
    color: var(--cor2);

}

.reservas .minhas-reservas .card-servico .servico .descricao .data-hora {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor2);
}

.confirmacao {
    display: flex;
    flex-direction: column;
}

.confirmacao .confirmado {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.confirmacao .confirmado h2{
    background-color: var(--cor5);
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: var(--cor2);
}

.confirmacao .confirmado span {
    color: var(--cor5);
    font-weight: bold;
    text-align: end;
    font-size: 1.2rem;
}


.confirmacao .reagendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.confirmacao .reagendar button {
    border: none;
    background-color: var(--cor3);
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--cor2);
}

/* FIM ESTILO MINHAS RESERVAS */




